root = true

[*]
indent_style = space
indent_size = 2
# Leaving line endings config off for now. autocrlf in .gitattributes will handle this instead
# There could be compatible .editorconfig support for this in the future: https://github.com/editorconfig/editorconfig/issues/226
#end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = true
